<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- ========================= -->
        <!-- CONEXIÓN A LA BASE DE DATOS -->
        <!-- ========================= -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>

        <property name="connection.url">
            jdbc:mysql://localhost:3306/MarvelDB?createDatabaseIfNotExist=true&amp;serverTimezone=UTC
        </property>

        <property name="connection.username">root</property>
        <property name="connection.password">root1234</property>

        <!-- ========================= -->
        <!-- HIBERNATE -->
        <!-- ========================= -->

        <!-- Dialect correcto para MySQL -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- IMPORTANTE:
             validate = usa las tablas del SQL del profe
             NO crea ni borra nada -->
        <property name="hibernate.hbm2ddl.auto">validate</property>

        <!-- Mostrar SQL por consola -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- ========================= -->
        <!-- ENTIDADES ANOTADAS -->
        <!-- ========================= -->
        <mapping class="org.example.entities.PersonajeDO"/>
        <mapping class="org.example.entities.TrajeDO"/>
        <mapping class="org.example.entities.HabilidadDO"/>
        <mapping class="org.example.entities.EventoDO"/>
        <mapping class="org.example.entities.ParticipaDO"/>

    </session-factory>
</hibernate-configuration>
